<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Memory Dairy</title>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?c2789f61821dfd03826d7d9fcb2f19ab";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  <link href="/dairy/static/css/views/index/index.css?ed7a7efb41d5e7638073" rel="stylesheet"></head>
  <body>
    <div id="index">
		<router-view></router-view>
	</div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/dairy/static/js/ed7a7efb41d5e7638073vendor.js?ed7a7efb41d5e7638073"></script><script type="text/javascript" src="/dairy/static/js/ed7a7efb41d5e7638073views/index/index.js?ed7a7efb41d5e7638073"></script></body>
</html>
